<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>{{ error }}</p>
    <a href="/">Back to Home</a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error - Out of Memory</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css')}}" />
</head>
<body>
      <div class="image">
      <img src="{{ url_for('static', filename='img/error.png') }}" alt="Error icon" class="error-icon">
      </div>
      <beside>
      <h1>Out of memory</h1>
      <p>{{ error }}</p>
      <p>
        Either the browser ran out of memory or you have found a new city.<br /><br />
        Try for a city that exists.
      </p>
      <button onclick="location.replace()">Reload</button>
      </beside>
</body>
</html>
